*{
  box-sizing: border-box;  
  margin: 0;
  padding: 0;
}
 :root {
/*  --main-bg-color: #E4F9F5;*/
  --main-bg-color: #000;
  --main-h1h2-color: #66BFBF;
  --h3-color:#11CDD4;
  /*--h3-color: #11999E;*/
  --span-color:#FFA1A1;
  --old-btn-color:  #11CDD4;
  --glow-color: #11CDD4;
  /*--glow-color: hsl(186 100% 69%);*/
  --dark-mode-color: #000;
  --a-font-color: #E4F9F5;
 }
header {
  background-color: --main-bg-color;
}
body {
  margin: 0;
  text-align: center;
/*  font-family: 'Merriweather', serif;*/
  background-color: var(--dark-mode-color);
  color: #40514E;
 }
section {
  background-color: var(--dark-mode-color);
}
div {
  background-color: var(--dark-mode-color);
}

/* ===== DOTTED LINE ===== */
hr {
  border: dotted white 8px;
  border-bottom: none;
  display:block;
  width: 4%;
  margin: 45px auto;
  background-color: var(--main-bg-color) !important;
}
/* ======================== */

h1 {
  margin: 0 auto 0 auto;
  border: 0;
  padding-bottom: 0;
  padding-top: 0;
  font-family: 'Sacramento', cursive;
  font-weight: bolder;
  z-index: 5;
  font-size: 8rem;
  color: var(--main-h1h2-color);
  /*** rem= root M, being M the standard size of a 16px capital M ******/
}

h2 {
  font-family: 'Montserrat', sans-serif;
  /*font-size: 2.3rem;*/
  font-size: 3.5rem;
  color: var(--main-h1h2-color);
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: var(--h3-color);
}
p {
  line-height: 2;
  font-family: 'Montserrat', sans-serif;
  color:#EAF6F6;
  font-size: medium;
  font-weight: lighter;
}

a {
  font-family: 'Montserrat', sans-serif;
  color: var(--h3-color);
  font-weight: lighter;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: var(--main-bg-color);
}

.top_container {
  background-color: var(--main-bg-color);
  position: relative;
  padding-top: 100px;
  text-align: center;
  height: 100vh;
  padding-bottom: 0;
  margin-bottom: 0;
}
/* ==== FRONT PAGE & ANIMATIONS === */
.animate__animated {
animation-duration: 6s;
animation-delay: 0.1s;
--animate__slower: 5s ;
}

.animate__rubberBand {
  animation-duration: 4s;
  animation-delay: 1.3s;
  --animate__slower: 4s
}
 .animate__rotateIn{
    animation-duration: 2s;
    animation-delay:0.1s;
}
.inblock {
  display: inline-block;
}

.top_cloud {
  position: absolute;
  top: 150px;
  right: 280px;
}

.sun {
  position: absolute;
  z-index: 2;
  top: 30px;
  right: 120px;
  animation-delay: 0.6s;
}

.bottom_cloud {
  position: absolute;
  bottom: 320px;
  left: 200px;
}

.mountains {
  border: 0;
  margin: 0 auto;
  position:fixed bottom;
} 

.pro {
  color: var(--span-color);
  margin-right: -8px;
}
.pro2{
  margin-left: 1rem;
}

/* === HAMBURGER MENU === */
.topnav {
  overflow: hidden;
  background-color:transparent !important ;
  position: sticky;
  z-index: 2;
  width: 80px;
}
/* HAMBURGER ICON */
.fa, .fa-bars {
position: sticky;
text-align: left !important;
display: block;
}

.topnav #myLinks {
  display: none;
    background-color:transparent !important ;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; 
  text-align: left;
    background-color:transparent !important ;
} 

li a {
  display: block;
  background-color:transparent !important;
  padding:0;
}

#arriba {
  text-align: left !important;
}
.topnav a {
  text-align: left;
  color: white;
  padding: 0;
  text-decoration: none;
  font-size: 15px;
  font-weight: lighter;
  display:block;
  width: 150px;
}

.topnav a.icon {
  float: left;
  font-size: 20px;
}

.topnav a:hover {
  color: var(--h3-color);
   font-weight: bold;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent !important;
}

/* ==== ORIGINAL HORIZONTAL NAV BAR (just in case) ======= */
/*nav { 
    box-sizing: border-box;
    background-color:white;
    position: sticky;
    top: 0;
    z-index: 2;
    height: 60px;
    box-shadow: 0 1px grey;
}
  
nav a {
  vertical-align: middle;
  color: gray !important; 
  text-decoration: none !important;  
} 

.nav-link  {
    width:100%; 
    white-space: nowrap ; 
    text-decoration: none!important; 
    color: darkslategrey !important;
  }

.nav-link:hover{
    color:  var(--h3-color) !important;
    text-decoration: none !important;
    transform: scale(1.15) ;
}
*/

.colorverde {
    color:#04AA6D;
}

.middle-container {
height: 100vh; 
position: relative;
background-color: var(--main-bg-color);
}

.profile {
  text-align: center;
}

/* ====== CAROUSEL ====== */
.carousel-control{
  overflow: visible;
  background-image: none !important;
  
}
.intro {
  text-align: right;
  vertical-align: baseline;
}

#myprofile{
    position: relative;
    width: 100%;
    }

#Lore-carousel  {
    width: 60%;
    height:100%;
    position: relative;
    vertical-align: center;
    padding: 0;
    margin:0;
    overflow: visible;
    background: transparent !important;
    -webkit-transition: 0.3s ease-in-out left;
    -moz-transition: 0.3s ease-in-out left;
    -o-transition: 0.3s ease-in-out left;
    transition: 0.3s ease-in-out left;
}     
.item {
    vertical-align: -20%;
    padding: 0;
    margin: 0;
}
.carousel-caption {
    color: grey;
    position: absolute;
    left: 0%;
    bottom:0;
    padding:0;
    /*transform: translateY(-100%);*/
  }

.carousel-text {
  color: var(--h3-color);
  width:fit-content;
}    

.carousel-indicators{
    width: 20%;
    position:absolute;
    bottom:15%;
    left:40%;
    margin:0;
    display:inline-block;
}

#I-am {
    width: 30%;
    height: 100%;
    vertical-align: baseline;
    display: inline-block;
    position: relative;
    /*color: gray;*/
    line-height: 2em;
    padding: 2%;
    /*text-align: justify;*/     
}

/* ======= SKILLS ======== */

.grid-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  width: 75%;
  margin: 5% auto;
  background-color: var(--dark-mode-color);
  }

.skill-card {
  /*width:25%;*/
  text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: lightgray;
    border-radius: 10px;
    margin: 3%;
    padding: 3%;   
}

.skill-card:hover {
    transform: scale(1.04);
    border-width: 3px; 
    box-shadow: 5px 10px #888888;
    transition: 0.6s;
}
  
.skill-img {
  width: 30%;
}

/* ====== HOBBIES ====== */
.flex-container {
display: flex;
width: 90%;
margin: 2% auto;
flex-direction: row;
  /*flex-flow: row wrap;*/
flex-wrap:row wrap;
justify-content: space-around;
background-color: var(--dark-mode-color);
}

.hobbies-div {
  width: 80%;
  margin-left: 10%;
  justify-content: space-around;
}
.hobby-img {
  margin: 45px 15px;
}

.hobby-img:hover {
transform: scale(1.2);
transition: 0.6s;
}
.hobbies-txt {
  width: 40%;
  margin: 0 auto;
}
.pro2 {
  color: var(--span-color);
}


.contact-me {
  background-color: #000;
  padding-top: 1%;
  }

/* ====== OLD BUTTON (just in case) ====== */
/*.btn {
  background: var(--old-btn-color);
  background-image: -webkit-linear-gradient(top, var(--old-btn-color),var(--h3-color));
  background-image: -moz-linear-gradient(top, var(--old-btn-color),var(--h3-color));
  background-image: -ms-linear-gradient(top, var(--old-btn-color),var(--h3-color));
  background-image: -o-linear-gradient(top, var(--old-btn-color),var(--h3-color));
  background-image: linear-gradient(to bottom, var(--old-btn-color),var(--h3-color));
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  text-decoration: none;
  transform: scale(1.1);
   box-shadow: 2px 5px #888888;
}*/

/* ====== GLOWING BUTTON ====== */

*,
*::before,
*::after {
  box-sizing: border-box;
}
.glowing-btn {
  position: relative;
  color: var(--glow-color);
  cursor: pointer;
  padding: 0.5em 1.2em 0.5em 0.7em;
  border: 0.15em solid var(--glow-color);
  border-radius: 0.45em;
  background: none;
  perspective: 2em;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3em;
  font-weight: normal;
  letter-spacing: 0.2em;
  margin-top: 2em;
  margin-bottom: 5em;

  -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  animation: border-flicker 2s linear infinite;
}

.glowing-txt {
  float: left;
  margin-right: -0.8em;
  -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
  animation: text-flicker 3s linear infinite;
}

.faulty-letter {
  opacity: 0.5;
  animation: faulty-flicker 2s linear infinite;
}

.glowing-btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  filter: blur(1em);
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
  background: var(--glow-color);
  pointer-events: none;
}

.glowing-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: var(--glow-color);
  box-shadow: 0 0 2em 0.2em var(--glow-color);
  transition: opacity 100ms linear;
}

.glowing-btn:hover {
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
  animation: none;
}

.glowing-btn:hover .glowing-txt {
  animation: none;
}

.glowing-btn:hover .faulty-letter {
  animation: none;
  text-shadow: none;
  opacity: 1;
}

.glowing-btn:hover:before {
  filter: blur(1.5em);
  opacity: 1;
}

.glowing-btn:hover:after {
  opacity: 1;
}

@keyframes faulty-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 0.1;
  }
  4% {
    opacity: 0.5;
  }
  19% {
    opacity: 0.5;
  }
  21% {
    opacity: 0.1;
  }
  23% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  83% {
    opacity: 0.4;
  }

  87% {
    opacity: 1;
  }
}

@keyframes text-flicker {
  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 1;
  }

  8% {
    opacity: 0.1;
  }

  9% {
    opacity: 1;
  }

  12% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }

  77% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes border-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0.1;
  }

  8% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .glowing-btn{
    font-size: 1em;
  }
}
/* ====== FOOTER ====== */
footer {
  background-color: #000;
  position: relative;
}

.footer-link {
  margin-right: 40px;
  position: relative;
  top: 10px;
}

.copyright-me {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding-top: 10px;
  margin: 0;
  position: relative;
}

/* =========================== REPOS, ONLINE =================== */

.sample {
  color: white;
}

.repos-main {
  width: 75%;
  flex-direction: row;
  /*overflow: auto;*/
  display:flex;
   overflow-x: auto;
   min-height: 45rem;
}

.repo-card {
  height: 38rem;
  min-width: 25%;
  text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: lightgray;
    border-radius: 10px;
    margin: 2%;
    padding: 1%;   

}

.repo-card:hover, .repo-card1:hover {
    transform: scale(1.04);
    border-width: 3px; 
    box-shadow: 5px 10px #888888;
    transition: 0.6s;
}
  .repo-card1 {
  height: 38rem;
  min-width: 25%;
  text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: lightgray;
    border-radius: 10px;
   margin: 2%;
  padding: 0;   }

.repo-img1 {
  width: 80%;
  margin: 0.5rem auto;
}

.card-img1 {
  height: 30%;
  margin: 0.5rem auto;
}

.card-title1 {
height: 6rem;
margin-top: 3rem;
}


.repo-img {
  width: 90%;
}

.card-img {
  height: 40%;
  margin: 3% auto;
}

.card-txt-div {
height: 7rem;
padding: 0 0.5rem;
}
.card-txt {
  font-family: "Calibri light",sans-serif;
  font-size: small;
  font-weight: lighter;
  line-height: 1.5;
}

.card-title {
height: 6rem;
margin-top: 1rem;
}

.more {
  background-color: transparent;
  border-color:  var(--glow-color);
  color:var(--glow-color);
  font-family: "Helvetica lightweight", sans-serif;
  padding: 0.5rem;
 }

 .btn {
   margin: 5% auto;
   font-size: 1.7rem;
 }

 #schedule {
  margin: 4rem auto;
 }

.esfera {
  transform: rotateX(360deg);

}