*{
  margin: 0;
  padding: 0;
  background-color: var(--dark-mode-color);
}

.grid-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  width: 75%;
  margin: 5% auto;
  }

.repo-card {
  /*width:25%;*/
  text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: lightgray;
    border-radius: 10px;
    margin: 3%;
    padding: 3%;   
}

.repo-card:hover {
    transform: scale(1.04);
    border-width: 3px; 
    box-shadow: 5px 10px #888888;
    transition: 0.6s;
}
  
.repo-img {
  width: 80%;
}
